<div class="payment-card-form">
  <h2>Payment Information</h2>
  <div class="container-fluid row">
    <input class="form-input" placeholder="Card Number" [(ngModel)]="cardNumber" required />
    <input class="form-input" placeholder="Card Holder Name" [(ngModel)]="cardHolderName" required />
    <input class="form-input" placeholder="Expiry Date (MM/YY)" [(ngModel)]="expirationDate" required />
  </div>
  <div class="btn-group">
  <button class="btn-custom submit-btn" (click)="submitPayment()">Submit Payment</button>
  <button class="btn-custom cancel-btn" (click)="close.emit()">Cancel</button>
    </div>
</div>
