<div class="container d-flex justify-content-center mb-4">
  <div class="d-flex mx-auto position-relative">
    <input type="text" class="form-control search-bar" placeholder="Search for items..." aria-label="Search"
           [(ngModel)]="searchQuery" (input)="searchItems()">
    <button class="btn btn-outline-secondary search-button" type="button" title="Search">
      <i class="fas fa-search mx-1"></i>
    </button>
  </div>
</div>


<div class="col">
  <h2>{{ selectedAisle ? (selectedAisle | titlecase) : '' }}</h2>
  <div class="row mt-5">
      <div *ngFor="let item of filteredItems" class="col-2 mt-4">
        <button class="b0 btn btn-danger btn-lg" type="button" (click)="addToCart(item)">
          <span class="button-icon">+</span>
          <span *ngIf="getItemQuantity(item) === 0" class="button-text">Add To Cart</span>
          <span *ngIf="getItemQuantity(item) > 0" class="item-count-badge">({{ getItemQuantity(item) }})</span>
        </button>
        <img src="{{item.imageUrl}}" alt="i1">
        <h3>${{item.price}}</h3>
        <h4>{{item.name}}</h4>
      </div>
  </div>
</div>
