section{
  background-color: white;
}
.row{
  overflow: hidden;
  flex-wrap: wrap;
  scroll-behavior: smooth;
}
img{
  height: 195px;
  width: 195px;
}

.b0 {
  width: 50px; /* Initial width for the round button */
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: width 0.3s ease; /* Smooth transition for width */
  position: relative;
  padding: 0;
  border-radius: 24px;
  margin-top: 5px;
}

.b0:hover {
  width: 150px; /* Expanded width on hover */
}

.button-icon {
  font-size: 1.5rem;
  transition: opacity 0.3s ease;
}

.button-text {
  font-size: 1rem;
  color: white;
  opacity: 0;
  white-space: nowrap;
  transition: opacity 0.3s ease;
  position: absolute;
}

.item-count-badge {
  font-size: 1rem;
  color: white;
  opacity: 0;
  white-space: nowrap;
  transition: opacity 0.3s ease;
  position: absolute;
}


.b0:hover .button-icon {
  opacity: 0; /* Hide the icon on hover */
}

.b0:hover .button-text {
  opacity: 1; /* Show text on hover */
}

.b0:hover .item-count-badge {
  opacity: 10;
}

.search-bar {
  background-color: #fadbcb;
  border-radius: 20px 0 0 20px;
  border: 2px solid #e4590f;
  padding: 10px 15px;
  font-size: 16px;
  width: 300px;
  transition: all 0.3s ease;
}

::placeholder {
  color: #001123;
}


.search-bar:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(228, 89, 15, 0.5);
  width: 350px;
}
.search-button {
  color: #001123;
  border-radius: 0 20px 20px 0;
  background-color: #fadbcb;
  border: 2px solid #e4590f;
  padding: 10px 15px;
  transition: all 0.3s ease;
}
