<div>
  <h3 class="mx-2">Saved Addresses</h3>
  <div class="location-list">
  <ul class="list-unstyled text-start location-list-inn" *ngIf="addresses.length > 0; else noAddresses">
    <li *ngFor="let address of addresses">
      <a class="text-decoration-none location-ins" (click)="selectLocation(address)">{{address.street + ', ' + address.city + ', ' + address.state + ', ' + address.postalCode}}</a></li>
  </ul>
    <ng-template #noAddresses>
      <p class="mx-2" style="font-size: 1.2rem">No addresses saved</p>
    </ng-template>
</div>
</div>

<div class="delivery-location-form">
  <h2 class="mx-2">Delivery Address</h2>
  <div class="container-fluid row">
    <input class="form-input" id="address" [(ngModel)]="street" required placeholder="Street Address"/>
    <input class="form-input" id="city" [(ngModel)]="city" required placeholder="City"/>
    <input class="form-input" id="state" [(ngModel)]="state" required placeholder="State"/>
    <input class="form-input" id="postalCode" [(ngModel)]="postalCode" required placeholder="Postal Code"/>
  </div>
  <div class="btn-group">
    <button class="btn-custom submit-btn" (click)="submitLocation()">Continue</button>
    <button class="btn-custom cancel-btn" (click)="close.emit()">Back</button>
  </div>
</div>
