 .sidebar-custom {
   border-right: 1px solid #dee2e6;
   height: 100vh;
   position: sticky;
   top: 0;
   overflow-y: auto;
   padding: 0 15px 0 0;
 }
 .sidebar-content {
   display: flex;
   flex-direction: column;
 }
 .sidebar-divider {
   margin: 5px 0;
   border-top: 2px solid #dee2e6;
 }

 h2{
 width: fit-content;
   margin-left: 13px;
 }

 .sidebar-heading {
   font-weight: 600;
   font-size: 1.8rem;
   margin-bottom: 15px;
   color: #333;
 }
 .aisle-list {
   display: flex;
   flex-direction: column;
   gap: 10px;
 }
 .aisle-link-custom {
   display: block;
   padding: 10px 15px;
   border-radius: 8px;
   color: #333;
   font-size: 1.5rem;
   font-weight: 500;
   transition: background-color 0.3s, color 0.3s, transform 0.3s;
 }
 .aisle-link-custom:hover {
   cursor: pointer;
   background-color: #FF4500;
   color: white;
   transform: translateX(5px);
 }
 .shop-link {
   font-size: 1.5rem;
   font-weight: 600;
 }
 .shop-link i {
   margin-right: 10px;
 }
 .aisle-link-custom.selected {
   background-color: #e4590f; /* Light gray background */
   font-weight: bold;
   color: #dee2e6; /* Black text */
 }
 /* Scrollbar Styling */
 .sidebar-custom::-webkit-scrollbar {
   width: 8px;
 }
 .sidebar-custom::-webkit-scrollbar-track {
   background: #aeacac;
   border-radius: 15px;
 }
 .sidebar-custom::-webkit-scrollbar-thumb {
   background: #888;
   border-radius: 15px;
 }
 .sidebar-custom::-webkit-scrollbar-thumb:hover {
   background: #555;
 }

