<section popover id="popup3" class="container popover-card">

  <div class="popover-header">
    <h3 class="popover-title">Payment Information</h3>
    <button class="btn-close" popovertarget="popup3" popovertargetaction="hide" aria-label="Close"><i class="fa fa-close"></i></button>
  </div>

  <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="cardNumber" class="form-label">Card Number</label>
      <div *ngIf="paymentText; else editCardNumber">
        <p class="form-control-plaintext">{{ paymentForm.get('cardNumber')?.value }}</p>
      </div>
      <ng-template #editCardNumber>
        <input type="number" id="cardNumber" class="form-control" formControlName="cardNumber" />
      </ng-template>
      <div *ngIf="paymentForm.get('cardNumber')?.invalid && paymentForm.get('cardNumber')?.touched" class="text-danger">
        Card Number is required.
      </div>
    </div>

    <div class="form-group">
      <label for="date" class="form-label">Expiration Date</label>
      <div *ngIf="paymentText; else editDate">
        <p class="form-control-plaintext">{{ paymentForm.get('date')?.value }}</p>
      </div>
      <ng-template #editDate>
        <input type="month" id="date" class="form-control" formControlName="date" />
      </ng-template>
      <div *ngIf="paymentForm.get('date')?.invalid && paymentForm.get('date')?.touched" class="text-danger">
        Expiration date is required.
      </div>
    </div>

    <div class="form-group">
      <label for="securityCode" class="form-label">Security Code</label>
      <div *ngIf="paymentText; else editSecurityCode">
        <p class="form-control-plaintext">***</p>
      </div>
      <ng-template #editSecurityCode>
        <input type="password" id="securityCode" class="form-control" formControlName="securityCode" />
      </ng-template>
      <div *ngIf="paymentForm.get('securityCode')?.invalid && paymentForm.get('securityCode')?.touched" class="text-danger">
        Security Code is required.
      </div>
    </div>

    <div class="form-group mt-4">
      <button *ngIf="viewAdd" type="button" class="btn btn-primary" (click)="add()">Add</button>
      <button *ngIf="viewEditing" type="button" class="btn btn-primary" (click)="toggleEdit()">Edit</button>
      <button *ngIf="isEditing" type="submit" class="btn btn-success">Save</button>
      <button *ngIf="isEditing" type="button" class="b4 btn btn-secondary" (click)="cancelEdit()">Cancel</button>
    </div>
  </form>
</section>
