<footer class="bg-dark text-white pt-5 pb-4">
    <div class="container text-center text-md-left">
        <div class="row text-center text-md-left">
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold">Name</h5>
                <p>Explore the latest fruits and vegetables. We offer the best products to keep you connected and stylish.</p>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold">Products</h5>
                <p>
                    <a href="Products.html" class="text-white" style="text-decoration: none;">All Products</a>
                </p>
                <p>
                    <a href="#" class="text-white" style="text-decoration: none;">Smartphones</a>
                </p>
                <p>
                    <a href="#" class="text-white" style="text-decoration: none;">Accessories</a>
                </p>
            </div>

            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
              <h5 class="text-uppercase mb-4 font-weight-bold">Operating Hours</h5>
              <p><i class="fa fa-clock-o mr-3"></i> Monday - Friday: 9 AM - 6 PM</p>
              <p><i class="fa fa-clock-o mr-3"></i> Saturday: 10 AM - 4 PM</p>
              <p><i class="fa fa-clock-o mr-3"></i> Sunday: Closed</p>
          </div>

            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold">Contact</h5>
                <p><i class="fa fa-home mr-3"></i> ------------</p>
                <p><i class="fa fa-envelope mr-3"></i> infomail.com</p>
                <p><i class="fa fa-phone mr-3"></i> + 20 999 999</p>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-md-7 col-lg-8">
                <p class="text-center text-md-left">© 2024 ----. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
